@media screen and (min-width:200px) and (max-width:767px) {
    header {
        .logo, .info {
            width: 100%;
            font-size: 12px;
        }
        .logo a {
            font-size: 25px;
        }
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .menu, .cart {
            width: 100%;
        }
        .menu .list {
            width: 100%;
        }
        .menu .list .box {
            width: 100%;
        }
    }
    .goods .top .link-menu a, .goods .title {
        font-size: 10px;
    }
    .goods .list {
       display: flex;
       justify-self: center;
    }
    .goods .list .box {
        width: 100%;
    }
    .order {
        width: 100%;
    }
    .footer .delivery, .footer .contacts {
        padding: 10px;
        width: 100%;
    }
}
