@import 'reset';

html {
  min-height: 100%;
}

body {
  font-family: 'Stalinist One', cursive;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.title {
  text-align: center;
}
.menu {
  width: 65% !important;
  margin-top: 40px;
}
.menu .list .box .name a {
  font-family: 'Stalinist One', cursive;
  color: yellowgreen !important;
}


.error {
  background-color: yellow;
  border-color: red !important;
  color: red;
}
p.error {
  padding: 10px;
  font-size: 12px;
}

@import 'header';
@import 'goods';
@import 'cart';
@import 'order';
@import 'footer';
@import 'media';

