<article>
    <div class="title">
        <h1>Суші</h1>
    </div>
        <div class="list">
                    
            <div class="box">
                <img src="img/sushi/1.jpeg" alt="erorr">
                    <div class="name"> name </div>
                    <div class="price">
                        <span class="price-value"> price </span>
                        <span>грн</span>
                        <span class="weight"> 100 гр</span>
                    </div>
                    <div class="buy">
                        <div class="minus">-</div>
                        <div class="plus">+</div>
                    </div>
            </div>
                       
                        <div class="box">
                            <img src="img/sushi/1.jpeg" alt="erorr">
                            <div class="name"> name </div>
                            <div class="price">
                                <span class="price-value"> price </span>
                                <span>грн</span>
                                <span class="weight"> 100 гр</span>
                            </div>
                            <div class="buy">
                                <div class="minus">-</div>
                                <div class="plus">+</div>
                            </div>
                        </div>

            </div>
        </article>