<aside>
        <div class="title">
            <h1>Mеню</h1>
        </div>
        <nav>
            <div class="menu-list">
                <div class="menu-box active">
                    <div class="name">
                        <a href="/roles/all"> 
                            <img src="../images/roles/1.jpeg" alt="roles">Роли
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="/sushi">
                            <img src="../images/sushi/1.jpeg" alt="sushi">Суші
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="/seasonal-menu">
                            <img src="../images/seasonal_menu/1.jpeg" alt="seasonal-menu">Сезонне меню
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="/sushi-sets">
                            <img src="../images/sets/1.jpeg" alt="sushi-sets">Набори суші
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="/sashimi">
                            <img src="../images/sashimi/1.jpeg" alt="sashimi">Сашимі
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="/hot-meals">
                            <img src="../images/hot_meals/1.jpeg" alt="hot-meals">Гарячі страви
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="goods/desserts">
                            <img src="../images/desserts/1.jpeg" alt="desserts">Десерти
                        </a>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="name">
                        <a href="goods/drinks">
                            <img src="../images/drinks/1.jpeg" alt="drinks">Напої
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </aside>