<div class="cart empty">
    <div class="title">
        Кошик
    </div>
    
    <h3 class="empty-cart">Поки що тут порожньо...</h3>
    <table class="summary">
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th>Всього</th>
                <th class="sum"></th>
                <th>грн</th>
            </tr>
        </tfoot>
        
    </table>
    <a href="/cart/order">Оформити замовлення</a>
</div>