<footer class="footer">
  <div class="delivery">
    <h3>Умови доставки</h3>
    <p>Служба доставки працює по всьому Києву, також за межами міста.</p> 
    <p>При замовленні на суму більше 300 грн - доставка по місту безкоштовна.</p>
    <p>Вартість доставки до 300грн становить 70грн.</p>
    <p>Час доставки залежить від об'єму замовлення і адреси замовника. В середньому становить 90 хвилин.</p>
    <p>Страви готуються виключно після оформлення замовлення</p>
  </div>
  <div class="contacts">
    <h3>Наші контакти</h3>
    <p>м.Київ метро Олімпійська, вул. Фізкультури 24.</p>
    <p>Замовлення за тел.: (093)-820-20-20, (095)-820-20-20, (096)-820-20-20</p>
  </div>
</footer>
  
  <script src="/javascripts/jquery.min.js"></script>
  <script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>

</body>
</html>