<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ням-ням</title>

    <link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet"> 
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Ням-ням</a>
        </div>
        <div class="info">
            <p>(093)-820-20-20</p>
            <p>(095)-820-20-20</p>
            <p>(096)-820-20-20</p>
            
        </div>
    </header>


    