<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yum-Yum</title>

    <link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet"> 
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Ням-ням</a>
        </div>
        <div class="info">
            <p>8-044-321-22-33</p>
            <p>м.Київ вул. Саксаганського 34</p>
        </div>
    </header>


    