<div class="menu">
    <div class="list">
        <div class="box active">
            <div class="name">
                <a href="/goods/roles"> 
                    <img src="../images/roles/1.jpeg" alt="roles">Роли
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/sushi">
                    <img src="../images/sushi/1.jpeg" alt="sushi">Суші
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/seasonal-menu">
                    <img src="../images/seasonal-menu/1.jpeg" alt="seasonal-menu">Сезонне меню
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/sushi-sets">
                    <img src="../images/sushi-sets/1.jpeg" alt="sushi-sets">Набори суші
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/sashimi">
                    <img src="../images/sashimi/1.jpeg" alt="sashimi">Сашимі
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/hot-meals">
                    <img src="../images/hot_meals/1.jpeg" alt="hot-meals">Гарячі страви
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/desserts">
                    <img src="../images/desserts/1.jpeg" alt="desserts">Десерти
                </a>
            </div>
        </div>
        <div class="box">
            <div class="name">
                <a href="/goods/drinks">
                    <img src="../images/drinks/8.jpeg" alt="drinks">Напої
                </a>
            </div>
        </div>
    </div>
</div>